#header {
	background-color:#fff;
}

#header h1 {
	font-size:2em;
	background: none;
	color:#000;
	padding:0px;
}

ul.site-nav {
	list-style-type:none;
	margin:0;
	padding:0;
}

ul.site-nav li {
	display:inline;
}